{{ role_name }}
===========

Basic description for {{ role_name }}

Requirements
------------

Ansible 2.8 or higher

Red Hat Enterprise Linux 7 or equivalent

Valid Red Hat Subscriptions

Role Variables
--------------

Currently the following variables are supported:

### General

* `{{ role_name }}_become` - Default: true. If this role needs administrator
  privileges, then use the Ansible become functionality (based off sudo).
* `{{ role_name }}_become_user` - Default: root. If the role uses the become
  functionality for privilege escalation, then this is the name of the target
  user to change to.

Dependencies
------------

None

Example Playbook
----------------

```yaml
- hosts: {{ role_name }}-servers
  roles:
    - role: oasis_roles.system.{{ role_name }}
```

License
-------

GPLv3

Author Information
------------------

Author Name <authoremail@domain.net>
