[![Build Status](https://travis-ci.org/oasis-roles/{{ role_name }}.svg?branch=master)](https://travis-ci.org/oasis-roles/{{ role_name }})

ROLE NAME
===========

Basic description for {{ role_name }}

Requirements
------------

Ansible 2.4 or higher

Red Hat Enterprise Linux 7 or equivalent

Valid Red Hat Subscriptions

Role Variables
--------------

Currently the following variables are supported:

### General

* `{{ role_name }}_var_name` - var\_name description

Dependencies
------------

None

Example Playbook
----------------

```yaml
- hosts: {{ role_name }}-servers
  roles:
    - role: oasis-roles.{{ role_name }}
```

License
-------

GPLv3

Author Information
------------------

Author Name <authoremail@domain.net>
